@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body>* {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}
.gg-close-r{
    float: right;
    margin: 2vw;
    cursor: pointer;
}
.dia1 {
    background-image: url('../images/index.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h2{
    font-size: 2em;
}
.dia {
    height: 90vh;
    margin: 0;
    background-color: white;
}

.content1 > .text-area > h3{
    font-size: 2vw;
}

.text-area {
    width: 50vw;
}

#video{
    height: 40vh;
    width: 40vw;
}

.text-area>p {
    text-align: justify;
    font-size: 1.5vw;
    color: aliceblue;
    /* margin-top: -15vh; */
    font-stretch: condensed;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.462);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: white;

    width: fit-content;
    padding: 0.2vh 1vw;
    border-radius: 20px;
    cursor: pointer;
}

.dia1A{
    height: 60vh;
    display: flex;
    align-items: center;
}

.black-row{
    background-color: black;
    color: yellow;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 2.5vw;
    font-weight: 700;
}
.dia1A > .row{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-left:12vw;
    margin-right: 15vw;
    gap: 4vw;
}
.dia1A > .row > .image{
    background-image: url("../images/angry-woman-1.jpg");
    height: 50vh;
    width: 25vw;
    background-repeat: no-repeat;
}
.dia1A > .row > .right > .text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.7vw;
}

.dia1A-right-images{
    margin-top: 2vh;
    display: flex;
}
.dia1A-right-images > .left-img{
    background-image: url("../images/no_palackok.png");
    height: 25vh;
    width: 20vw;
    background-position: center;
    background-size: cover;
}

.dia1A-right-images > .right-img{
    background-image: url("../images/palack_szennyezes.png");
    height: 25vh;
    width: 20vw;
    background-position: center;
    background-size: cover;
    margin-left: 7vw;
}

.dia2 {
    height: fit-content;

}

.dia2 > div > div.right > div.image{
    background-image: url("../images/nok.jpg");
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 2vh;
}

.content2 {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10vh
}

.content2>p {
    width: 30vw;
    text-align: justify;
    font-size: 1.2vw;
}

.list-item {
    display: flex;
    align-items: center;
    font-size: 1.3vw;
}

.list-icon {
    margin-right: 2vw;
    color: green;
    font-size: 3vw;
}

.list-icon-incorrect {
    margin-right: 2vw;
    color: red;
    font-size: 3vw;
}

.content2>.right {
    font-size: 1.4vw;
}

.content2 > .left > .list > .list-item{
    font-size: 1.6vw;
}

 .dia2 > div > div.right > div.image {
     margin-top: 12vh;
 }

.btn-2 {
    border: 1px solid black;
    width: fit-content;
    padding: 0 1vw;
    border-radius: 20px;
    font-size: 1.3vw;
    cursor: pointer;
}

.btn-2 > p{
    color: black;
}

.dia2A{
    background-color: #ffe4e9;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px solid green;
}

.inside-row{
    width: 80vw;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 4vw;
}

.img{
    height: 35vh;
    width: 20vw;
    background-color: aquamarine;

}

.dia3 > .overlay{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: rgb(255, 228, 233);
}

div.dia.dia2 > div > div.left > div > h4 > strong{
    font-size: 1.2vw;
}
.dia3 {


    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height:fit-content;

}

.content3 > .title{
    grid-area: title;
}
.content3 > .title > h2{
    margin-bottom: 0;
}
.content3 > .left{
    grid-area: left;
}
.content3 > .right{
    grid-area: right;
}

.content3 > .left > h3, .content3 > .right > h3{
    font-size: 1.4em
}

.content3 > .left > p, .content3 > .right > p{
    text-decoration: underline;
    font-size: 1.3vw;
}
.content3 {
    display: grid;
    gap: 4vw;
    width: 80vw;
    color: black;
    grid-template-areas:
    'title title '
    'left right';
}

.overlay:nth-child(1) > .btn-2 {
    position: relative;
    left: -40%;
    top: 40%;
    z-index: 1;
}

.content3>.left>.list-item>.list-icon {
    color: green
}

.content3>.right>.list-item>.list-icon {
    color: green
}

.dia4 {
    display: flex;
    justify-content: center;
    height: 55vh;
    background-image: url("../images/person-writing-on-white-board-3781338.jpg");
    background-size: cover;
    background-position: center;
}

.content4 {
    display: grid;
    grid-template-columns: auto auto;
    width: 80vw;
    padding: 10vh;
    color: white;
}
.content3 > .title{
    grid-area: title;
}
.content4 > .right >.btn-2{
    color: black;
}

.content4>.left {
    width: 50vw;
}

.content4>.right {
    display: flex;
    align-items: center;
}

.dia5 {
    background-image: url('../images/garbagewater.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: fit-content;

}

.content5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5vh 0;
}


.content5 > .overlay{
    height: fit-content;
    padding: 5vh 0;
}

.content5 > p {
    font-size: 2vw;
}
.content5 > .list-item > p {
    font-size: 2vw;
}
.dia6 {
    display: flex;
    justify-content: center;
    height: 55vh;
    margin-top: 2vh;
}

.content6 {
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10vh;
}

#videobeforetext{
    font-size: 1.6vw;
    font-weight: 600;
}

.content6>.left {
    width: 50vw;
}

.content6>.right {
    display: flex;
    align-items: center;
}

.dia7 {
    display: flex;
    justify-content: center;
    background-color: #e1f8ff;
    padding-bottom: 4vh;
    height: fit-content;
}

.content7 {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 2vw;
    width: 80vw;
    margin-top: 5vh;
    background-color: #e1f8ff;
}

#superaqua_silver {
    margin-top: 3vh;
    margin-left: 4vw;
}

.dia7a{
    height: fit-content;
    margin-top: 5vh;
}

.dia7a > .header{
    width: 100vw;
    height: 40vh;
    background-color: #007f00;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 55% 85%, 50% 100%, 45% 85%, 0% 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
font-size: 2vw;
}

.dia7a > .content {
    height: fit-content;
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
}
.dia7a > .content > .left {
    height: fit-content;

}


.dia7a > .content > .left > .image{
    background-image: url('../images/viztisztito_1.png');
    width: 16vw;
    height: 30vh;
    background-size: cover;
}
.dia7a > .content > .right {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
}

.dia7a > .content > .right > h2{
    font-size: 2vw;
  }
  .dia7 > div > div.left > p:nth-child(3){
      font-size: 1.6vw;
      font-weight: 900;
  }
.dia8 {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.content8 {
    width: 80vw;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.working-gif {
    width: 15vw;
    height: 15vw;
    background-image: url("http://www.vizguru.hu/images/kepek/asztali_viztisztito_mukodese.gif");
    background-position: center;
    background-size: cover;
}

.dia9 {
    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: lightgray;
}

.content9 {
    width: 80vw;
}

.dia10 {
    display: flex;
    justify-content: center;
    height: 35vh;
}

.content10 {
    width: 80vw;
}


.more-block {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: rgb(59, 59, 59, 0.7);
    z-index: 99;
}
.more-window{
    width: 35vw;
    height: 90vh;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
.unactive{
    display: none;
}


.more-text-area{
    margin:2vw;
    margin-top: 15vh;
}


.btn-buy{
    background-color:green;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8vh;
    padding: 1vh 3vw;
    font-size: 1.7vw;
    color: white;
}

.dia-red{
    width: 100vw;
    height: fit-content;
    padding: 10vh 0;
    position: relative;
    margin-top: 60vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 2vw;
}

.product-landing-dia{

}

.content-product{
    margin-left: 10vw;
    margin-right: 10vw;
}

.content-product > .header{
    display: grid;
    grid-template-columns: 5fr 5fr;
    height: 28vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.header-image{
    display: flex;
}

.content-product > .header > .header-image > .image{
    background-image: url('../images/viztisztito_1.png');
    background-size: cover;
    background-position: center;
    width: 15vw;
}
.content-product > .header > .title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-grid{
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 40vh;
}

.content-grid > .image {
    background-image: url('../images/EztEddNeAzt_Ebook_ajandek.jpg');
    background-position: center;
    background-size: cover;
}

.content-grid > .text-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-grid2{
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 40vh;
}

.content-grid2 > .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-grid2 > .left > span:nth-child(1){
    margin-bottom: 4vh;
    font-weight: 600;
    font-size: 1.6vw;
}
.content-grid2 > .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-grid2 > .image > img {
    height: 30vh;
}

.content-grid2 > .text-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-buy.btn-other{
    width: fit-content;
    border-radius: 10px;
    padding: 2vh 2vw;
}

.content-grid3{
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 40vh;
}

.content-grid3 > .left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-grid3 > .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-grid3 > .right > span:nth-child(1){
    margin-bottom: 4vh;
    color: green;
    font-size: 1.5vw;
}

@media(max-width:450px) {
    .dia {
        height: 100%;
    }
    .dia1 {
        height: 70vh;
    }
    .content {
        grid-template-columns: none;
        width: 90vw;
        height: fit-content;
    }
    .content > .left{
        width:90vw
    }
    .text-area{
        width: 80vw;
    }
    .btn-2{
        margin-bottom: 5vh;
        float: left
    }
    .btn-buy{
        padding: 1vh 7vw;
        font-size: 4vw;
    }
    .working-gif{
        width: 30vw;
        height: 30vw;
    }
    body > div.root > div.dia.dia5 > div > div.btn.btn-2{
        background-color: transparent;
    }
    .more-window{
        width: 80vw;
    }
    .content1 > .text-area > h3{
        font-size: 5vw;
    }
    .dia2A{
        height: fit-content;
        padding: 5vh 0;
    }
    .dia2A > .inside-row {
        display: block;
    }

    .content3{
        display: block;
    }

    .content3 > .left > .list-item > .text{
        font-size: 3vw;
    }

    body > div.root > div.dia.dia3 > div > div > div.btn.btn-2{
        margin-top: 3vh;
    }
    .list-icon {
        margin-right: 2vw;
        color: green;
        font-size: 4vw;

    }

    .list-icon-incorrect {
        margin-right:2vw;
        color: red;
        font-size: 4vw;
    }
    strong {
        font-size: 4vw;
    }

    .black-row{
        font-size: 4vw;
    }

    .dia1A > .row > .image {
        width: 100%;
    }
    .dia1A > .row > .right > strong{
        margin-top: 4vh;
        font-size: 4.5vw;
        margin-bottom: 2vh;
    }
    .dia1A > .row > .right > .text{
        margin-top: 4vh;
        font-size: 4.5vw;
        margin-bottom: 2vh;
    }

    .dia1A > .row{
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
    .dia7a > .header{
        font-size: 5.5vw;
    }

    .dia7a > .content {
        grid-template-columns:none;
        margin-left: 5vw;
    }

    .dia7a > .header > span{
        margin-left: 2vw;
        margin-right: 2vw;
        text-align: center;
    }

    .dia7a > .content > .left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dia7a > .content > .left > .image{
        width: 70vw;
        height: 40vh;
    }
    .dia7a > .content > .right > h2{
      font-size: 6.5vw;
    }

    .dia-red{
        font-size: 5.5vw;
    }
}